.container{
  width:600px;
  margin:auto;
  padding:40px;
  font-family:Arial;
}

button{
  padding:10px 20px;
  margin:20px 0;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:5px;
}

.card{
  border:1px solid #ddd;
  padding:10px;
  margin-bottom:10px;
  border-radius:5px;
}
input{
  display:block;
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:5px;
  border:1px solid #ccc;
}
.delete{
  background:red;
  margin-top:10px;
}